<?xml version = '1.0' encoding = 'UTF-8'?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" 
                         "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
    <description>web.xml file for the Text Tonsorium Workflow ManagementSystem</description>
    <session-config>
        <session-timeout>35</session-timeout>
    </session-config>
    <mime-mapping>
        <extension>html</extension>
        <mime-type>text/html</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>txt</extension>
        <mime-type>text/plain</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>xml</extension>
        <mime-type>text/xml</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>js</extension>
        <mime-type>application/javascript</mime-type>
    </mime-mapping>
    <welcome-file-list>
        <welcome-file>entry</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.jspx</welcome-file>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.xml</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>bracmatevaluator</servlet-name>
        <servlet-class>dk.clarin.tools.rest.bracmatevaluator</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>bracmatevaluator</servlet-name>
        <url-pattern>/bracmatevaluator/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>cleanup</servlet-name>
        <servlet-class>dk.clarin.tools.rest.cleanup</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cleanup</servlet-name>
        <url-pattern>/cleanup/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>specifyGoal</servlet-name>
        <servlet-class>dk.clarin.tools.rest.specifyGoal</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>specifyGoal</servlet-name>
        <url-pattern>/specifyGoal/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>showworkflows</servlet-name>
        <servlet-class>dk.clarin.tools.rest.showworkflows</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>showworkflows</servlet-name>
        <url-pattern>/showworkflows/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>chosenworkflow</servlet-name>
        <servlet-class>dk.clarin.tools.rest.chosenworkflow</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>chosenworkflow</servlet-name>
        <url-pattern>/chosenworkflow/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>data</servlet-name>
        <servlet-class>dk.clarin.tools.rest.data</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>data</servlet-name>
        <url-pattern>/data/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>mypoll</servlet-name>
        <servlet-class>dk.clarin.tools.rest.poll</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mypoll</servlet-name>
        <url-pattern>/mypoll/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>dk.clarin.tools.rest.register</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>reloadScript</servlet-name>
        <servlet-class>dk.clarin.tools.rest.reloadScript</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>reloadScript</servlet-name>
        <url-pattern>/reloadScript/*</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>results</servlet-name>
      <servlet-class>dk.clarin.tools.rest.results</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>results</servlet-name>
      <url-pattern>/results/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>zipresults</servlet-name>
        <servlet-class>dk.clarin.tools.rest.zipresults</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>zipresults</servlet-name>
        <url-pattern>/zipresults/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>exportMetadata</servlet-name>
        <servlet-class>dk.clarin.tools.rest.exportMetadata</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>exportMetadata</servlet-name>
        <url-pattern>/exportMetadata/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>importMetadata</servlet-name>
        <servlet-class>dk.clarin.tools.rest.importMetadata</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>importMetadata</servlet-name>
        <url-pattern>/importMetadata/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>stresstest</servlet-name>
        <servlet-class>dk.clarin.tools.rest.stresstest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>stresstest</servlet-name>
        <url-pattern>/stresstest/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>update</servlet-name>
        <servlet-class>dk.clarin.tools.rest.update</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>update</servlet-name>
        <url-pattern>/update/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>upload</servlet-name>
        <servlet-class>dk.clarin.tools.rest.upload</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>upload</servlet-name>
        <url-pattern>/upload/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>setLanguage</servlet-name>
        <servlet-class>dk.clarin.tools.rest.setLanguage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>setLanguage</servlet-name>
        <url-pattern>/setLanguage/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>help</servlet-name>
        <servlet-class>dk.clarin.tools.rest.help</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>help</servlet-name>
        <url-pattern>/help/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>contact</servlet-name>
        <servlet-class>dk.clarin.tools.rest.contact</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>contact</servlet-name>
        <url-pattern>/contact/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>changelog</servlet-name>
        <servlet-class>dk.clarin.tools.rest.changelog</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>changelog</servlet-name>
        <url-pattern>/changelog/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>entry</servlet-name>
        <servlet-class>dk.clarin.tools.rest.entry</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>entry</servlet-name>
        <url-pattern>/entry</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>usermsg</servlet-name>
        <servlet-class>dk.clarin.tools.rest.usermsg</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>usermsg</servlet-name>
        <url-pattern>/usermsg</url-pattern>
    </servlet-mapping>
</web-app>
